# Shell SFTP Client
#
# Use this sample code to connect to your SFTP To Go server and run some file operations using shell script SFTP client.
#
# 1) Open a shell terminal session
#
# 2) Run the desired command

# With username/password authentication (you will be prompted to enter your password):
sftp sftp://{{ UserName }}@{{ Host }}

# With SSH key authentication:
sftp sftp://{{ UserName }}@{{ Host }} -i "<path to your private key>"